.idea
.vscode
.env
*.pyc
!.gitignore
venv
/logs
__pycache__
.app_env_setting
migrations
static
media
download
celerybeat-schedule
celerybeat-schedule.*
temp
*.mmdb
gunicorn_conf.py
run_test*
tests.py
test.py